*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    /* background-color: #3A236E; */
}

#main{
    width: 100%;
    height: 100%;
    background-color: #3A236E;
    display: flex;
    justify-content: center;
    /* align-items: center; */
   
}

#container{
    
   width: 50vh;
   /* height: 30vh; */
   background-color: #dfffdf;
   position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 0 35px;
    padding-bottom: 50px;
    
}

#top
{
   position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#top img{
    width: 30px;
    height: 30px;
   
}

#bottom {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
   position: relative;
    border-radius: 40px;
    

}

input{
    font-size: 15px;
    flex: 1;
    border: none;
    /* color: black; */
    outline: none;
    background: transparent;
    padding: 25px;
    border-radius: 20px;
    
    
}
button{
    height: 6vh;
    width: 22%;
    border-radius: 40px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(200, 138, 23);
    
}

ul li {
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px ;
    user-select: none;
    cursor: pointer;
    position: relative;
   
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    
}

ul li.checked{
  /* background-image: url(checked.png);// */
  color: #555;
  text-decoration: line-through;

}

ul li.checked::before{
    background-image: url(checked.png);
}

ul li span{
     position: absolute;
     right: 0;
     top: 5px;
     width: 40px;
     height: 40px;
     font-size: 22px;
     color: #555;
     line-height: 40px;
     text-align: center;
     border-radius: 50%;
}

ul li span:hover{
    background:#edeef0;
}
